body{
    margin: 0px;
    padding: 0px;
}

header{
    height: 550px;
    width:100%;
    background: url('images/header.png')no-repeat center center fixed;
    background-size:cover;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
}

.header-link a {
    border-radius: 30px;
}

.custom-nav{
    background-color: rgba(0,0,0,0.0)!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

footer{
    background: url('images/degree.png')no-repeat center center fixed;
    background-size:cover;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
}

footer .dropdown-item:focus, .dropdown-item:hover{
    background-color: transparent!important;
}

footer hr{
    background-color: white;
}